body{
    width: 100%;
    height: 100%;
}

.text_packup {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 13; /* number of lines to show */
    overflow: hidden;
  }

.text_packup_2 {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 11; /* number of lines to show */
overflow: hidden;
}